*
{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
font-family:'Poppins', sans-serif;
}
header
{
position: fixed;
width: 100%;
height: 80px;
padding: 0 100px;
display: flex;
justify-content: space-between;
align-items: center;
background: #111;
z-index: 1000;
}
header .logo
{
color: #fff;
font-size: 30px ;
text-decoration: none;
letter-spacing: 2px;
font-weight: 700;
}
header ul
{
position: relative;
display: flex;
}

header ul li
{
position: relative;
list-style: none;
}
header ul li a
{
position: relative;
padding: 5px 10px;
color: #fff;
display: inline-block;
text-decoration: none;
cursor: pointer;
}
header ul li a.active,
header ul li a:hover
{
background: #009879;
}

/* down nav*/

.na40
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    margin-top: 100px; 
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}


border-collapse: collapse;
margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow-y: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 20px 25px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table tbody td h4.active-row {
  color: #009879;
}

footer
{
background:#fff;
padding: 90px 0;
}
.footer-container
{
max-width: 1300px;
margin: auto;
padding: 0 20px;
margin-bottom: 75px;
display: flex;
justify-content: space-between;
float: right;
align-items: center;
flex-wrap: wrap-reverse;
}
.x
{
width:180px
}
.social-media
{
margin: 20px 0;
}
.social-media a
{
color: #888;
margin-right: 25px;
font-size: 22px;
text-decoration: none;
transition: .3s linear;
}

.social-media a:hover
{
color: #205aff;
}

.rights-text
{
color: #888;
font-family: lato;
}
.rights-col h1
{
font-size: 26px;
}
.border
{
width: 300px;
height: 4px;
background:#009879;
}
.newsletter-from
{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.text
{
flex: 1;
padding: 18px 40px;
font-size: 16px;
color: #888;
background: #ddd;
border: none;
font-weight: 700;
outline: none;
border-radius: 30px;
min-width: 260px;
}
.btn
{

padding: 18px 40px;
font-size: 16px;
color: #fff;
background: #009879;
border: none;
font-weight: 700;
outline: none;
border-radius: 30px;
cursor: pointer;
transition: opacity .3s linear;
}
.btn:hover
{
opacity: .7;
}
.page-content
{
min-height: 100vh;
font-size: 40px;
display: flex;
align-items: center;
justify-content: center;
}
