body {
    color: #ddd;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}
a {text-decoration: none;}
h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}
h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
}
.container {
    margin: auto;
    width: 90%;
}
.ul-reset {
    padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
    list-style: none;
}



/* #Navigation Styles*/
nav {
    background: #424242;
    font-size: 0;
    position: relative;
}
nav > ul > li {
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
}
nav > ul > li:first-child {padding-left: 0;}
nav > ul > li:last-child {padding-right: 0;}
nav > ul > li > a {
    color: #fff;
    display: block;
    position: relative;
    padding: 20px 0;
    border-bottom: 3px solid transparent;
}
nav > ul > li:hover > a {
    color: #69aae0; 
    border-bottom: 3px solid #69aae0;
}



/* #Mega Menu Styles */
.mega-menu {
    background: #f0f0f0;
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}
.mega-menu h3 {color: #444;}
.mega-menu ul {
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
    width: 205px;
}
.mega-menu ul:last-child {margin-right: 0;}
.mega-menu a {
    border-bottom: 1px solid #ddd;
    color: #4ea3d8;
    display: block;
    padding: 10px 0;
}
.mega-menu a:hover {color: #2d6a91;}


div {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

.loginbox {
    width: 200px;
    height: 150px;
    background: #000;
    color: #fff;
    
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 7px 3px;
}


h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
   
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
   
}

.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    background-color: #ACE6FF;
    outline: none;
    opacity: 0.9;
    height: 40px;
    color: #121212;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: .5s ease;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #ffc107;
}



/* #Droppable Class Styles */
.droppable {position: static;}
.droppable > a:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 12px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}
.droppable:hover .mega-menu {display: block;}



/* #Browser Clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
   display: table; /* 2 */
}
.cf:after {clear: both;}
